body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  /* Font Shortcut
  font: 15px/1.5 Arial, Helvetica, sans-serif;  
  */
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}
/* Global */
.container {
  width: 80%;
  /* margin:auto sets everything in the middle (same margin on both sides) */
  margin: auto;
  /* No scrollbar */
  overflow: hidden;
}
/* Sticky footer for About page */
#main {
  min-height: calc(100vh - 296px);
}
ul {
  /* By default ul has margin and padding */
  margin: 0;
  padding: 0;
}

.button_1 {
  height: 38px;
  background: #e8491d;
  border: none;
  padding: 0 20px;
  color: #fff;
}
.button_1:hover {
  color: #000;
}

.dark {
  padding: 15px;
  background: #35424a;
  color: #fff;
  margin: 10px 0;
}

/* Header */
header {
  background: #35424a;
  color: #fff;
  padding-top: 30px;
  /* When it goes responsive to stay at least 70px */
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}
header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px;
}
/* Floating branding to the left and nav to the right */
header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}
/* Highlighted text, and the current link opened */
header .highlight,
header .current a {
  color: #e8491d;
  font-weight: bold;
}

header a:hover {
  color: #ccc;
  font-weight: bold;
}

/* Showcase */
#showcase {
  min-height: 400px;
  /* We are currently in the css folder, so to go out we use "../"  */
  /* 0 and -400px is the picture positioning, 0 is x-axis and -400px is y-axis, so it's been moved up */
  background: url("../img/showcase.jpg") no-repeat 0 -400px;
  text-align: center;
  color: #fff;
}
#showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 20px;
}

/* Newsletter */

#newsletter {
  padding: 15px;
  color: #fff;
  background: #35424a;
}
#newsletter h1 {
  float: left;
}
#newsletter form {
  float: right;
  margin-top: 15px;
}

#newsletter input[type="email"] {
  padding: 4px;
  height: 25px;
  width: 250px;
}

/* Boxes */
#boxes {
  margin-top: 20px;
}

#boxes .box {
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}
/* reducing img size */
#boxes .box img {
  width: 90px;
}

/* About page */

/* Sidebar */
aside#side-bar {
  float: right;
  width: 30%;
  margin-top: 10px;
}
/* Services side-bar */
aside#side-bar1 {
  float: right;
  width: 30%;
  margin-top: 30px;
}

aside#side-bar1 .quote input,
aside#side-bar1 .quote textarea {
  width: 90%;
  padding: 5px;
}

/* Main-col */
article#main-col {
  float: left;
  width: 65%;
}

/* Services */
ul#services li {
  list-style: none;
  padding: 20px;
  border: #ccc solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6;
}

footer {
  padding: 10px;
  margin-top: 20px;
  color: #fff;
  background: #e8491d;
  text-align: center;
}

/* Media Queries */

@media (max-width: 768px) {
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#side-bar1,
  aside#side-bar {
    float: none;
    text-align: center;
    width: 100%;
  }
  header {
    padding-bottom: 20px;
  }

  #showcase h1 {
    margin-top: 40px;
    font-size: 50px;
  }
  #newsletter button,
  .quote .button_1 {
    display: block;
    width: 100%;
  }
  #newsletter form input[type="email"] {
    width: 100%;
    margin-bottom: 5px;
  }

  aside#side-bar1 .quote input,
  aside#side-bar1 .quote textarea {
    width: 95%;
    padding: 5px;
  }
}
